---
sitemap: true
layout: layouts/fullwidth.njk
title: Historical posts
description: Historical articles about software development, tooling and ways of working.
---

{%- from "../_includes/macros/indexlist.njk" import indexList %}
{{ indexList(title, '', collections.other | reverse, site, false) }}
