/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: $background-color-2;
  border-top: solid 1px $text-color;
  margin-top: $spacing-unit;

  .footer-heading {
    font-size: 18px;
    color: $text-color;
    margin-bottom: $spacing-unit;
    margin-top: 0;
  }
  .footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    @extend %clearfix;

    .footer-col {
      float: left;
      margin-bottom: math.div($spacing-unit, 2);
      padding-left: math.div($spacing-unit, 2);

      a {
        color: $text-color-light;
        &:hover {
          color: $text-color-light;
          text-decoration: underline;
        }
      }

      &-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width: calc(35% - (#{$spacing-unit} / 2));
      }

      &-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width: calc(20% - (#{$spacing-unit} / 2));
      }

      &-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width: calc(45% - (#{$spacing-unit} / 2));
      }

      @include media-query($on-laptop) {
        &-1,
        &-2 {
          width: -webkit-calc(50% - (#{$spacing-unit} / 2));
          width: calc(50% - (#{$spacing-unit} / 2));
        }

        &-3 {
          width: -webkit-calc(100% - (#{$spacing-unit} / 2));
          width: calc(100% - (#{$spacing-unit} / 2));
        }
      }

      .contact-list {
        list-style: none;
        margin-left: 0;
      }
    }
    @include media-query($on-palm) {
      .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
      }
    }
  }
}
