@use "../settings" as tokens;
@use "../tools" as media;
@use "sass:math";

/**
 * Site footer
 */
.site-footer {
  padding: tokens.$spacing-unit 0;
  background-color: tokens.$background-color-2;
  border-top: solid 1px tokens.$text-color;
  margin-top: tokens.$spacing-unit;

  .footer-heading {
    font-size: 18px;
    color: tokens.$text-color;
    margin-bottom: tokens.$spacing-unit;
    margin-top: 0;
  }
  .footer-col-wrapper {
    font-size: 15px;
    color: tokens.$text-color;
    display: flex;
    flex-wrap: wrap;

    .footer-col {
      flex: 0 0 auto;
      margin-bottom: math.div(tokens.$spacing-unit, 2);
      padding-left: math.div(tokens.$spacing-unit, 2);

      a {
        color: tokens.$text-color-light;
        &:hover {
          color: tokens.$text-color-light;
          text-decoration: underline;
        }
      }

      &-1 {
        width: calc(35% - (#{tokens.$spacing-unit} / 2));
      }

      &-2 {
        width: calc(20% - (#{tokens.$spacing-unit} / 2));
      }

      &-3 {
        width: calc(45% - (#{tokens.$spacing-unit} / 2));
      }

      @include media.media-query(tokens.$on-laptop) {
        &-1,
        &-2 {
          width: calc(50% - (#{tokens.$spacing-unit} / 2));
        }

        &-3 {
          width: calc(100% - (#{tokens.$spacing-unit} / 2));
        }
      }

      .contact-list {
        list-style: none;
        margin-left: 0;
      }
    }
    @include media.media-query(tokens.$on-palm) {
      .footer-col {
        width: calc(100% - (#{tokens.$spacing-unit} / 2));
      }
    }
  }
}
