.header {
  background-color: $background-color;

  .wrapper {
    position: relative;

    .site-heading {
      font-size: 26px;
      text-align: left;
      font-weight: 700;
      width: 100%;
      margin: 0;
      padding: 10px 0 10px 0;
      font-weight: bold;
      color: $text-color-light;
      
      &-link {
        color: $text-color-light;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
