.nav {
  position: relative;
  padding: 10px 0 10px 0;
  margin: 0px 0 10px 0;
  background-color: $background-color-2;

  &_list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @include media-query($on-palm) {
      display: block;
      text-align: center;
    }

    &-item {
      @include media-query($on-palm) {
        padding: 5px 0;
      }
      list-style-type: none;
      padding: 0;
      margin: 0;
      &_link {
        color: $text-color;
      }
    }
  }
}
