@use "../settings/tokens";
@use "../tools/media";

.nav {
  position: relative;
  padding: 10px 0 10px 0;
  margin: 0px 0 10px 0;
  background-color: tokens.$background-color-2;

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 16px;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @include media.media-query(tokens.$on-palm) {
      display: block;
      text-align: center;
    }

    &-item {
      @include media.media-query(tokens.$on-palm) {
        padding: 5px 0;
      }
      list-style-type: none;
      padding: 0;
      margin: 0;
      &_link {
        color: tokens.$text-color;

        &--icon {
          display: inline-flex;
          align-items: center;
        }
      }
      &_icon {
        display: inline-flex;
        vertical-align: middle;

        svg {
          display: block;
        }
      }
    }
  }
}
