.articles {
  margin-top: 20px;

  &-heading {
    font-size: 28px;
  }
  .post-list {
    margin-left: 0;
    list-style: none;

    .article {
      padding: 20px;

      &-caption {
        margin-bottom: 20px;
        font-size: 18px;
      }

      &-image {
        margin-bottom: 20px;
        font-size: 18px;
      }

      .post-list-item-link {
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
        color: $brand-color-3;

        &:hover {
          color: $brand-color-3;
          text-decoration: underline;
        }
      }

      h2 {
        color: $brand-color-3;
        font-weight: bolder;
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 26px;
      }
    }

    @include media-min-query($on-palm) {
      display: flex;
      flex-wrap: wrap;

      > .article {
        width: 42%;
        margin-bottom: $spacing-unit;
      }

      > .article--category {
        width: 31%;
        margin-bottom: 30px;
        margin-left: 1em;
        margin-bottom: $spacing-unit;
      }
    }

    @include media-min-query($on-desktop) {
      > .article {
        width: 45%;
        margin-bottom: $spacing-unit;
      }

      > .article--category {
        width: 31%;
        margin-bottom: 30px;
        margin-left: 1em;
        margin-bottom: $spacing-unit;
      }
    }
  }

  &--categories {
    margin-top: 0;

    background-color: $brand-color;
    .post-list {
      > article {
        color: $text-color-light;

        .post-list-item-link {
          color: $text-color-light;

          &:hover {
            color: $text-color-light;
          }
        }

        h2 {
          color: $text-color-light;
        }
      }
    }
  }
}
