.articles {
  margin-top: 20px;

  &-heading {
    font-size: 34px;
  }
  .post-list {
    margin-left: 0;
    list-style: none;

    &--category {
      display: flex;
      flex-wrap: wrap;
    }

    .article {
      padding: 20px 0;

      &-caption {
        margin-bottom: 20px;
      }

      &-image {
        margin-bottom: 20px;
      }

      .post-list-item-link {
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
        color: $text-color;

        &:hover {
          color: $text-color-light;
          text-decoration: underline;
        }
      }

      h2 {
        color: $text-color-light;
        font-weight: bolder;
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 26px;
      }
    }

    @include media-min-query($on-palm) {

      > .article {
        margin-bottom: $spacing-unit;
      }

      > .article--category {
        width: 30%;
        margin-bottom: 20px;
        margin-left: 1em;
      }
    }

    @include media-min-query($on-desktop) {
      > .article {
        margin-bottom: 0;
      }

      > .article--category {
        width: 31%;
        margin-bottom: 20px;
        margin-left: 1em;
      }
    }
  }

  &--categories {
    margin-top: 0;
    background-color: $background-color-2;

    .post-list {
      > article {
        padding: 30px 0;

        .post-list-item-link {

          &:hover {
            text-decoration: underline;
          }
        }

        h2 {
          margin: 0 0 10px 0;
          padding: 0;
        }
      }
    }
  }
}
