@use "../settings" as tokens;
@use "sass:math";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Inter.woff2") format("woff2");
}

/**
 * Basic styling
 */
body {
  font: tokens.$base-font-weight 18px tokens.$base-font-family;
  letter-spacing: 0.03em;
  color: tokens.$text-color;
  background-color: tokens.$background-color;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  line-height: tokens.$base-line-height;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: math.div(tokens.$spacing-unit, 2);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: calc(tokens.$spacing-unit * 2);
}

p {
  margin-bottom: 2rem;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: tokens.$spacing-unit;
  margin-bottom: 2em;
}

li {
  margin-top: 0.5em;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/**
 * Links
 */
a {
  color: tokens.$text-color;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: tokens.$text-color;
  border-left: 4px solid tokens.$text-color;
  padding-left: calc(tokens.$spacing-unit / 2);
  font-size: 22px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #000000;
  background-color: #eef6e8;
}

code {
  padding: 2px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
