{% macro categoryList(links) %}
    <div class="articles articles--categories">
        <div class="wrapper">
            <div class="post-list post-list--category">
                {%- for article in links -%}
                    <article class="article--category">
                        <a href="{{ article.url }}"{% if article.openInNewWindow %} target="_blank" rel="noopener noreferrer"{% endif %} class="post-list-item-link">
                            <h2 class="post-link">
                                {{ article.name }}
                            </h2>
                        </a>
                    </article>
                {%- endfor -%}
            </div>
        </div>
    </div>
{% endmacro %}
