{% macro cookieBanner() %}
  <div class="cookie-banner" data-nosnippet role="region" aria-label="Analytics cookies">
    <div class="wrapper">
      <div class="cookie-banner__content">
        <h2 class="cookie-banner__header">Analytics cookies</h2>
        <p class="cookie-banner__copy">I use optional Google Analytics cookies to understand how this site is used and improve it.</p>
      </div>
      <div class="cookie-banner__button-group">
        <button type="button" title="Accept optional analytics cookies" class="cookie-banner__button cookie-banner__button--accept" value="accept" name="cookies" data-module="cookie-button">Accept</button>
        <button type="button" title="Reject optional analytics cookies" class="cookie-banner__button cookie-banner__button--reject" value="reject" name="cookies" data-module="cookie-button">Reject</button>
      </div>
    </div>
  </div>
{% endmacro %}
