{% macro cookieBanner() %}
  <div class="cookie-banner " data-nosnippet role="region" aria-label="Cookies on John Nolan Personal Blog">
    <div class="wrapper">
      <div>
        <h2 class="cookie-banner__header">Cookies on John Nolan Personal Blog</h2>
        <div>
          <p>I use Google Analytics to monitor and help analyse my traffic.</p>
          <p>I would like to set additional cookies so I can remember your settings and understand how you use the site to make improvements.</p>
        </div>
      </div>
      <div class="cookie-banner__button-group">
        <a href="#" title="Accept additional cookies" class="cookie-banner__button-group-link" value="accept" name="cookies" data-module="cookie-button">
          Accept cookies
        </a>
        <a href="#" title="Reject additional cookies" class="cookie-banner__button-group-link" value="reject" name="cookies" data-module="cookie-button">
          Reject cookies
        </a>
      </div>
    </div>
  </div>
{% endmacro %}
