{% macro header(params) %}
    <header class="site-header">

        <div class="wrapper">

            <div class="my-face">
                <a href="/">
                    <img src="/assets/me.jpg" alt="Picture of the Author John Nolan" />
                </a>
            </div>

        </div>

    </header>
{% endmacro %}
