{% macro header(params) %}
<header class="header">

  <div class="wrapper">

    <h2 class="site-heading">{{params.siteName}}</h2>
    <h3 class="site-sub-heading">{{params.siteDescription}}</h3>

  </div>
</header>

{% endmacro %}
