{%- from "./contentMetaData.njk" import contentMetaData %}
{% macro indexList(title, content, collection) %}
    <h1 class="page-heading">{{title}}</h1>
    {{ content | safe }}
    <div class="post-list">
        {%- for article in collection | reverse -%}
            {% if article.data.date %}
                <article>
                    <a href="{{ article.url }}" class="post-list-item-link">
                        <h2 class="post-link">
                                {{ article.data.title }}
                        </h2>
                        <span class="post-meta">
                            {{ contentMetaData(article.data.date, article.data.contributors) }}
                        </span>
                    </a>
                </article>
            {%- endif -%}
        {%- endfor -%}
    </div>
{% endmacro %}
