{% macro navigation(links) %}
    <nav class="nav">
        <div class="wrapper">
            <ul class="nav_list">
                {%- for article in links -%}
                    <li class="nav_list-item">
                        <a href="{{ article.url }}"{% if article.openInNewWindow %} target="_blank" rel="noopener noreferrer"{% endif %} alt="Navigate to {{ article.name }}" class="nav_list-item_link">
                            {{ article.name }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </nav>
{% endmacro %}
