{% macro pageContentMetaData(date, contributors, tags) %}
{%- from "./datetime.njk" import datetime %}
{%- from "./authorsList.njk" import authorsList %}


<dl class="metadata">
  <div class="metadata-item">
    <dd class="metadata-item-value">
      {{datetime(date)}}
    </dd>
  </div>
</dl>
<dl class="metadata">
  {% if tags %}
    <div class="metadata-item">
      <dd class="metadata-item-value">
        <span class="metadata-tags">
          {% for tag in tags %}
            <span class="metadata-tag">{{tag}}</span>
          {% endfor %}
        </span>
      </dd>
    </div>
  {% endif %}
</dl>
{% endmacro %}
