{% macro pageContentMetaData(date, updated, contributors, topics, categoryLabel, backLink) %}
{%- from "./datetime.njk" import datetime %}
{%- from "./authorsList.njk" import authorsList %}
<div class="metadata">
  <span class="metadata-item">{{ datetime(date) }}</span>
  {% if updated %}<span class="metadata-item">Updated {{ datetime(updated) }}</span>{% endif %}
  <span class="metadata-item">By {{ authorsList(contributors) }}</span>
</div>
<div class="metadata">
  <span class="metadata-item">In <a href="{{ backLink | url }}">{{ categoryLabel }}</a></span>
</div>
{% if topics.length %}
<div class="metadata">
  <span class="metadata-item metadata-tags">
    {% for topic in topics %}
      <span class="metadata-tag" data-tag="{{ topic | lower }}">{{ topic }}</span>
    {% endfor %}
  </span>
</div>
{% endif %}
{% endmacro %}
