---
layout: layouts/fullwidth.njk
mastheadTitle: true
---
{%- from "../../_includes/macros/toc.njk" import toc %}
{%- from "../../_includes/macros/pageContentMetaData.njk" import pageContentMetaData %}

<article class="article-page">
    <h1 class="article-page-heading">{{title}}</h1>

    {% if draft %}
      <p class="draft-notice">Draft — unpublished</p>
    {% else %}
      {{ pageContentMetaData(date, updated, contributors, topics, categoryLabel, backLink) }}
    {% endif %}
    
    {{ toc(content, toc) }}

    {{ content | safe }}
</article>
