{{ define "main" }}
<div class="page-content">
  <div class="wrapper">
    <a href="/categories/">Back to categories</a>
    <h1 class="page-heading">Category: {{.Title }}</h1>
    {{ .Content }}
    <ul class="post-list">
      {{ range .Paginator.Pages }}
      <li>
        <a class="post-list-item-link" href="{{ .Permalink }}">
          <span class="post-meta"><time>{{ .PublishDate.Format "January 2, 2006" }}</time></span>

          <h2>
            <div class="post-link" href="{{ .Permalink }}">{{ .Title }}</div>
          </h2>
        </a>
      </li>

      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
