{{ define "main" }}
<div class="page-content">
  <div class="wrapper">
    <h1 class="page-heading">Categories</h1>
    {{ .Content }}
    <ul class="post-list">
      {{ range .Data.Terms.ByCount }}
      <li>
        <a class="post-list-item-link" href="{{ .Page.Permalink }}">
          <h2>
            <div class="post-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}{{ $pageCount := len .Pages }}
                    <p>- {{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }} </p></div>
          </h2>
        </a>
      </li>

      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
