<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ .Site.Title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ .Site.Title }}</li>
          <li><a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ .Site.Params.Description }}</p>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', { scope: '/' });
    }
  </script>
</footer>
