---
layout: layouts/fullwidth.njk
mastheadTitle: true
---

{%- from "./_includes/macros/indexlist.njk" import indexList %}

{{ indexList("Latest Articles", '', collections.all.reverse().slice(0,10)) }}