---
sitemap: true
layout: layouts/fullwidth.njk
mastheadTitle: true
eleventyComputed:
    title: "{{ site.description }}"
---

{%- from "./_includes/macros/indexlist.njk" import indexList %}

{{ indexList("Latest Posts", '', collections.posts | limit(12), site) }}