---
layout: layouts/fullwidth.njk
mastheadTitle: true
eleventyComputed:
    title: "{{ site.description }}"
---

{%- from "./_includes/macros/indexlist.njk" import indexList %}

{{ indexList("Latest Posts", '', collections.all.reverse().slice(0,12), site) }}